/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.hero {
  display: flex;
  height: 150vh;
  background-size: cover;

  background-position: center;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.hero .content h1 {
  font-size: 70px;
  font-weight: bolder;
}

h4 {
  margin-bottom: 10px;
}

/* .content .temp {
  margin-bottom: 55px;
} */

.content p {
  font-size: 22px;
  margin: 0px 0;
  letter-spacing: 2px;
}

.city-input {
  /* font-size: 22px; */
  margin: 1rem;
  width: 21%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-button {
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#quote {
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.forcast5 {
  padding: 2px 10px;
  border: 2px dashed white;
  margin-bottom: 55px;
}
.hero .reset {
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media Queries */

/* Small devices (phones, 600px and down)  - portrait*/
@media (max-width: 600px) and (orientation: portrait) {
  .hero {
    height: 100vh;
    background-size: contain;
    background-position: center top;
  }

  .hero .content h1 {
    font-size: 24px;
  }

  .content p {
    font-size: 18px;
  }

  .conditions-always-change {
    display: none;
  }

  .grid-con {
    display: grid;
    grid-gap: 5px;
    border: none;
  }

  #get-weather-conditions {
    margin-top: 20px;
  }

  .hero h4 {
    font-size: 18px;
    width: 80%;
    margin-left: 25px;
    margin-top: -5px;
    margin-bottom: 0px;
  }

  .hero .city-input {
    font-size: 20px;
    padding: 0.25rem;
    border-radius: 10px;
    width: 60%;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .hero .input-button {
    font-size: 18px;
    padding: 0.25rem;
    border-radius: 10px;
    width: 50%;
    margin-top: -20px;
  }

  .forecast-title {
    font-size: 25px;
    width: 80%;
    margin-left: 18px;
    margin-top: 8px;
    margin-bottom: -2px;
  }

  div .hero .feels-like {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .hero .forecast-description {
    font-size: 20px;
  }

  .hero .weather-icon-position {
    display: none;
  }

  .hero .reset {
    width: 30%;
    font-size: 14px;
    border-radius: 10px;
  }

  .hero .cutbottom {
    /* font-size: 10px; */
    margin-bottom: -7px;
  }

  .hero .small-grid {
    font-size: 20px;
    text-shadow: 2px 2px 4px black, 2px 2px 0px green;
  }

  .hero .super-small-grid {
    font-size: 7px;
    text-shadow: 2px 2px 4px black, 2px 2px 0px green;
  }
}

/* Small devices (phones, 740px and down) - Landscape */
@media (max-width: 740px) and (orientation: landscape) {
  .hero {
    height: 78vh;
    background-size: cover;
  }

  div #get-weather-conditions {
    font-size: 40px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .content p {
    font-size: 16px;
  }

  .conditions-always-change {
    display: none;
  }

  .grid-con {
    display: grid;
    grid-gap: 5px;
    border: none;
  }

  #get-weather-conditions {
    margin-top: 20px;
  }

  .hero h4 {
    font-size: 24px;
    margin-left: 33px;
    margin-top: -8px;
    margin-bottom: -3px;
  }

  .hero .city-input {
    font-size: 18px;
    padding: 0.25rem;
    border-radius: 10px;
    width: 50%;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  div .hero .input-button {
    font-size: 16px;
    padding: 0.25rem;
    border-radius: 10px;
    width: 40%;
    margin-top: -20px;
  }

  div .forecast-title {
    width: 100%;
    margin-left: 20%;
    margin-bottom: -8px;
    font-size: 32px;
  }

  .hero .forecast-description {
    margin-left: 30%;
    font-size: 22px;
  }

  .hero .weather-icon-position {
    display: none;
  }

  div .hero .feels-like {
    margin-top: -8px;
    margin-left: 30%;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .hero .reset {
    width: 20%;
    font-size: 14px;
    border-radius: 10px;
  }

  .hero .cutbottom {
    margin-bottom: -7px;
  }

  .hero .small-grid {
    font-size: 20px;
  }

  .hero .super-small-grid {
    font-size: 10px;
  }
}

/* Large devices (laptops/desktops, 901px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
  .content h1 {
    font-size: 110px;
  }

  .hero .conditions-always-change {
    width: 100%;
    font-size: 30px;
  }

  /* .hero h4 {
    margin-top: -40px;
    font-size: 60px;
  } */

  /* .hero .forecast-title {
    font-size: 50px;
    width: 110%;
  } */

  .hero .weather-icon-position {
    width: 110%;
    /* padding-left: 100px; */
    margin-bottom: 50px;
  }

  .hero .forecast-description {
    width: 110%;
    font-size: 40px;
  }

  div .hero .feels-like {
    width: 110%;
    font-size: 36px;
  }

  .content p {
    font-size: 21px;
  }

  .hero {
    height: 130vh;
  }

  .city-input {
    width: 40%;
    font-size: 45px;
  }

  .hero .input-button {
    width: 30%;
    font-size: 40px;
  }

  h4 {
    margin-top: -40px;
    font-size: 60px;
    width: 100%;
    /* margin-left: 25px; */
  }

  #quote {
    font-size: 28px;
  }
}
