/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  max-width: 80vw; /* Use relative units for max-width */
  margin: 0 auto;
  text-align: center;
}

.hero {
  display: flex;
  height: 150vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100vw; /* was 80 Use relative units for max-width */
  /* width: 100%; */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 0.2vw 0.2vw 0.4vw black; /* Use relative units for text-shadow */
}

.hero .content h1 {
  font-size: 7vw; /* Use relative units for font-size */
  font-weight: bolder;
}

h4 {
  margin-bottom: 1vw; /* Use relative units for margin-bottom */
}

.content p {
  font-size: 2.2vw; /* Use relative units for font-size */
  margin: 0;
  letter-spacing: 0.2vw; /* Use relative units for letter-spacing */
}

.city-input {
  margin: 1rem;
  width: 21vw; /* Use relative units for width */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-button {
  width: 20vw; /* Use relative units for width */
  justify-content: center;
  align-items: center;
  text-align: center;
}

#quote {
  font-size: 3.2vw; /* Use relative units for font-size */
  color: white;
  text-shadow: 0.2vw 0.2vw 0.4vw black; /* Use relative units for text-shadow */
}

.forcast5 {
  padding: 0.2vw 1vw; /* Use relative units for padding */
  border: 0.2vw dashed white; /* Use relative units for border */
  margin-bottom: 5.5vw; /* Use relative units for margin-bottom */
}

.hero .reset {
  color: white;
  background-color: blue;
  padding: 1vw 2vw; /* Use relative units for padding */
  border: none;
  border-radius: 0.5vw; /* Use relative units for border-radius */
  cursor: pointer;
}
