/* Base Styles */
.lottery-container {
  text-align: center;
  padding: 20px;
}

.lottery-title {
  font-style: italic;
  padding-top: 40px;
  color: yellow;
  text-shadow: 2px 2px 4px black;
  font-size: 32px;
}

.lottery-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

/* Media Queries */

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .lottery-title {
    font-size: 18px;
    /* text-align: center; */
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .lottery-number {
    width: 22px; /* Adjust size as needed */
    height: 22px; /* Adjust size as needed */
    font-size: 14px;
    margin: 5px;
  }
}

/* Medium devices (tablets, 601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .lottery-title {
    width: 100%;
    font-size: 27px;
    margin-top: -20px;
  }

  .lottery-number {
    width: 33px; /* Adjust size as needed */
    height: 33px; /* Adjust size as needed */
    font-size: 24px;
  }

  .adjust-nmbers-position {
    /* padding-left: 20px; */
    width: 100%;
  }
}

/* Small devices (phones, 740px and down) - Landscape */
@media (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
  .lottery-title {
    font-size: 15px; /* Adjusted size for landscape */
    margin-top: -18px; /* Adjusted margin for landscape */
  }

  .lottery-number {
    width: 20px; /* Adjusted size for landscape */
    height: 20px; /* Adjusted size for landscape */
    font-size: 14px; /* Adjusted font size for landscape */
  }

  .adjust-nmbers-position {
    margin-top: -18px;
    margin-bottom: -18px;
  }
}

/* Medium devices (laptops/desktops, 901px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
  .lottery-title {
    /* width: 140%; */
    font-size: 40px;
  }

  .lottery-number {
    width: 53px; /* Adjust size as needed */
    height: 53px; /* Adjust size as needed */
    font-size: 38px;
  }

  /* .adjust-nmbers-position {
    padding-left: 20px;
    width: 100%;
  } */
}
