/* Base Styles */
.lottery-container {
  text-align: center;
  padding: 20px;
}

.lottery-title {
  font-style: italic;
  padding-top: 40px;
  padding-right: 50px;
  width: 1180px;
  color: yellow;
  text-shadow: 2px 2px 4px black;
  font-size: 26px;
}

.lottery-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 10px;
}

/* Media Queries */

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .lottery-title {
    width: 130%;
    font-size: 18px;
    /* text-align: center; */
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .lottery-number {
    width: 22px; /* Adjust size as needed */
    height: 22px; /* Adjust size as needed */
    font-size: 14px;
    margin: 5px;
  }
}

/* Medium devices (tablets, 601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .lottery-title {
    width: 100%;
    font-size: 30px;
    margin-top: -20px;
  }

  .lottery-number {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    font-size: 26px;
  }

  .adjust-nmbers-position {
    /* padding-left: 20px; */
    width: 100%;
  }
}

/* Medium devices (laptops/desktops, 901px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
  .lottery-title {
    /* width: 140%; */
    font-size: 60px;
  }

  .lottery-number {
    width: 53px; /* Adjust size as needed */
    height: 53px; /* Adjust size as needed */
    font-size: 38px;
  }

  .adjust-nmbers-position {
    /* padding-left: 20px; */
    width: 100%;
  }
}
