/* Base Styles */
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.hero .get-weather-conditions {
  margin-top: 20px;
  padding: 10px 10px;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 70px;
}

.conditions-always-change {
  padding: 10px 10px;
  width: 1200px;
}

.forecast-details {
  padding: 10px 10px;
  width: 1200px;
}

.forecast-title {
  font-style: italic;
}

.forecast-description {
  font-size: 30px;
}

.feels-like {
  font-size: 26px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

/* Media Queries */

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .hero {
    height: auto;
  }

  .hero .get-weather-conditions {
    font-size: 24px;
    margin-bottom: -18px;
  }

  .hero .conditions-always-change {
    width: 100%;
    font-size: 12px;
    text-shadow: 2px 2px 4px black;
  }

  .forecast-details {
    width: 100%;
  }

  .forecast-description {
    font-size: 20px;
  }

  .feels-like {
    font-size: 18px;
  }

  .weather-icon {
    width: 50px;
    height: 50px;
  }
}

/* Medium devices (tablets, 600px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .hero {
    height: auto;
  }

  .hero .get-weather-conditions {
    font-size: 50px;
  }

  .conditions-always-change,
  .forecast-details {
    width: 80%;
  }

  .forecast-description {
    font-size: 25px;
  }

  .feels-like {
    font-size: 22px;
  }

  .weather-icon {
    width: 75px;
    height: 75px;
  }
}

/* Large devices (laptops/desktops, 901px and up) */
@media (min-width: 901px) and (max-width: 1200px) {
  .hero .get-weather-conditions {
    font-size: 60px;
  }

  .conditions-always-change,
  .forecast-details {
    width: 90%;
  }

  .forecast-description {
    font-size: 28px;
  }

  .feels-like {
    font-size: 24px;
  }

  .weather-icon {
    width: 90px;
    height: 90px;
  }
}
