* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  height: 100vh;
  background-color: black;
}

body {
  padding: 2vw; /* Use relative units for padding */
  background-color: darkblue;
  color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw; /* Use relative units for gap */
}

div {
  font-size: 2vw; /* Use relative units for font-size */
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 5vw; /* Use relative units for font-size */
}

p .italic-text {
  font-style: italic;
  text-align: center;
  color: white;
  font-size: 2vw; /* Use relative units for font-size */
}

input {
  font-size: 2vw; /* Use relative units for font-size */
  padding: 1vw; /* Use relative units for padding */
  border-radius: 1vw; /* Use relative units for border-radius */
  width: 20vw; /* Use relative units for width */
}

.hero button {
  font-size: 2vw; /* Use relative units for font-size */
  padding: 1vw; /* Use relative units for padding */
  border-radius: 1vw; /* Use relative units for border-radius */
  width: 20vw; /* Use relative units for width */
}

.get-weather-button {
  margin: 1.5vw; /* Use relative units for margin */
}

.get-weather-button:hover {
  padding: 1vw; /* Use relative units for padding */
  border-radius: 1vw; /* Use relative units for border-radius */
  background-color: #0056b3;
}
