/* Base Styles */
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

#get-weather-conditions {
  margin-top: 20px;
  padding: 10px 10px;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 70px;
}

.conditions-always-change {
  padding: 10px;
  width: 1180px;
}

.city-input {
  margin: 1rem;
  width: 21%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-button {
  width: 16%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forecast-details {
  padding: 10px;
  width: 1180px;
}

.forecast-title {
  font-style: italic;
}

.forecast-description {
  font-size: 30px;
}

.feels-like {
  font-size: 26px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

#quote {
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

/* Media Queries */

/* Small devices (phones, 600px and down) */
@media (max-width: 600px) {
  #get-weather-conditions {
    font-size: 36px;
  }

  .conditions-always-change,
  .forecast-details {
    width: 100%;
  }

  .forecast-description {
    font-size: 20px;
  }

  .feels-like {
    font-size: 18px;
  }

  .city-input {
    width: 60%;
    font-size: 22px;
  }

  .input-button {
    width: 40%;
    font-size: 22px;
  }

  #quote {
    font-size: 12px;
    width: 40%;
  }

  .weather-icon {
    width: 50px;
    height: 50px;
  }
}

/* Medium devices (tablets, 601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  #get-weather-conditions {
    font-size: 50px;
  }

  .conditions-always-change,
  .forecast-details {
    width: 80%;
  }

  .forecast-description {
    font-size: 25px;
  }

  .feels-like {
    font-size: 22px;
  }

  .city-input {
    width: 50%;
  }

  .input-button {
    width: 40%;
  }

  #quote {
    font-size: 24px;
  }

  .weather-icon {
    width: 75px;
    height: 75px;
  }
}

/* Large devices (laptops/desktops, 901px to 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
  #get-weather-conditions {
    font-size: 60px;
  }

  .conditions-always-change,
  .forecast-details {
    width: 90%;
  }

  .forecast-description {
    font-size: 28px;
  }

  .feels-like {
    font-size: 24px;
  }

  .city-input {
    width: 30%;
  }

  .input-button {
    width: 25%;
  }

  #quote {
    font-size: 28px;
  }

  .weather-icon {
    width: 90px;
    height: 90px;
  }
}

/* Extra large devices (large desktops, 1201px and up) */
@media (min-width: 1201px) {
  #get-weather-conditions {
    font-size: 70px;
  }

  .conditions-always-change,
  .forecast-details {
    width: 1180px;
  }

  .forecast-description {
    font-size: 30px;
  }

  .feels-like {
    font-size: 26px;
  }

  .city-input {
    width: 21%;
  }

  .input-button {
    width: 16%;
  }

  #quote {
    font-size: 32px;
  }

  .weather-icon {
    width: 100px;
    height: 100px;
  }
}
